<!-- Strona 'O nas' -->
{% extends 'base.html' %}


{% block content %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">O nas.</h1>
      <details>
      	<summary class="fs-5 text-muted">
      		Jesteśmy krewnymi i znajomymi królika. <br> Współpracujemy z kubusiem puchatkiem. 
	      </summary>
	      <br> Czy biznes zawsze musi być śmiertelnie poważny?</p> 
	      <br> <p class="fs-5 text-muted">Pamiętaj, że możesz zawsze opuścić stronę poprzez wykorzystanie klawiszy 
	      <br> <kbd>ctrl</kbd> + <kbd>w</kbd> albo <kbd>alt</kbd> + <kbd>f4</kbd></p>
      </details>
</div>

<div class="container">
	<div class="d-flex flex-column">
	</div>
</div>



{% endblock content %}