<!-- Potwierdzenie wysłania maila resetującego hasło -->
{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    Wysłaliśmy email instrukcjami koniecznymi do ustawienia hasła. 
		    Jeśli istnieje konto przypisane do podanego adresu powinieneś otrzymać do wkrótce.
		  </p>
		  <p class="m-auto p-2">
		    Jeśli nie otrzymałeś maila, proszę upewnij się, 
		    czy podany adres był wykorzystany przy rejestracji w serwisie oraz sprawdź folder spam.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Wróć na stronę główną</a></p>
	</div>
</div>

{% endblock %}